body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1C1C1C; /* Dark grey background */
}

header {
    background-color: #1C1C1C;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Increased height for better spacing on mobile */
}

.copy-container {
    background-color: #2D2D30; /* Medium grey bar */
    width: 90%; /* Take up 90% of available screen real estate */
    max-width: 400px; /* Add a max width to prevent stretching on larger screens */
    display: flex;
    flex-direction: column; /* Stack the input and copy button vertically on mobile */
    align-items: center;
    padding: 20px; /* Add some padding around the container */
}

.copy-input {
    width: 100%; /* Input takes up full width of the container */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #3F3F46; /* Light grey background for input */
    color: white;
}

.copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-button:hover {
    background-color: #0056b3;
}

.copy-button-container {
    width: 100%; /* Copy button takes up full width of the container */
    text-align: right; /* Align the button to the right on mobile */
    margin-top: 10px; /* Add some spacing between input and button */
}
